@charset "utf-8";

// базовые стили
@import "basic/basic";
// css-анимации
@import "animation/animation";
// BEM-блоки
@import "blocks/blocks";
// смысловые секции
@import "sections/sections";
// стилизация интерактивных элементов
@import "js-active/js-active";

.new-note {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
  max-width: 650px;

  label {
    opacity: 0.7;
    font-size: 0.95rem;
    font-style: italic;
  }

  input,
  textarea {
    opacity: 1;
    padding: 12px 20px;
    color: #000000;
  }

  button {
    background-color: #009688;
    padding: 12px 20px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #009688;
  }
}

.message {
  background-color: rgba(255, 192, 203, 0.651);

  p {
    color: red;
    font-style: italic;
    padding: 12px 20px;
    font-size: 0.95rem;
  }
}
