<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True" />
  <meta name="format-detection" content="telep hone=no" />
  <meta name="format-detection" content="address=no" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="robots" content="noindex, nofollow">

  <link type="image/png" sizes="16x16" rel="icon" href="favicon.ico">

  <!-- <script src="https://unpkg.com/vue@3.2.37"></script> -->
  <!-- <script src="https://unpkg.com/vue@3"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title>Заголовок страницы</title>
  <meta name="description" content="Описание страницы">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- рабочая область приложения  -->
  <div id="app">
    <div class="wrapper">
      <h1> {{ title }} </h1>
      <!-- сообщение об ошибке  -->
      <div class="message" v-if="message">
        <p> {{ message }} </p>
      </div>
      <!-- добавление новой заметки  -->
        <div class="new-note">
          <label for="">Введите заголовок заметки</label>
          <input type="text" name="" id="" placeholder="Ваше название" v-model="note.title">

          <textarea name="" id="" cols="30" rows="10" v-model="note.description">Текст заметки</textarea>
          <button type="submit" @click="addNote">Добавить заметку</button>
        </div>


      <!-- список заметок  -->
      <div class="notes">
        <ul class="note" v-for="(note, index) in notes" :key="index">
          <li class="note__header">
            <h3> {{ note.title }} </h3>
            <p> {{ note.description }} </p>
            <hr>
            <time> {{ note.date }} </time>

          </li>
        </ul>
      </div>

    </div>
  </div>

  <script></script>
  <script src="js/main.js"></script>
</body>

</html>
