:root {
  // шрифты
  --ff-1: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // --ff-2: 'Inter', sans-serif;

// цвета
// базовые
  --col-1: #ffffff;
  --col-2: #000000;
  // акцентные
  --col-3: red;
  // фирменные
  --col6: #dddfe6;
  --col7: #f2f2f5;

}
